* {
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body {
    header {
        background-color: rgb(40, 57, 61);
        padding: 20px 0;
        nav {
            width: 1080px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div {
                ul {
                    li {
                        list-style: none;
                        a {
                            color: rgb(214, 214, 214);
                            text-decoration: none;
                            font-size: 25px;
                            font-family: "Righteous", cursive;
                            letter-spacing: 2px;
                        }
                    }
                }
                img {
                    height: 200px;
                    width: auto;
                }
            }
        }
        h1 {
            padding: 50px 0;
            text-align: center;
            color: rgb(214, 214, 214);
            font-size: 80px;
            font-family: "Kaushan Script", cursive;
        }
    }
    main {
        section#Formation {
            max-width: 1200px;
            margin: 50px auto;
            padding: 0 10px;
            font-family: "Noto Sans", sans-serif;
            color: rgb(238, 238, 238);
            background: rgb(138, 127, 117);
            h2 {
                margin: 5px;
                font-size: 30px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: "Kaushan Script", cursive;
            }
            ul#timeline {
                list-style: none;
                margin: 50px 0 30px 120px;
                padding-left: 30px;
                border-left: 8px solid white;
                li {
                    margin: 40px 0;
                    position: relative;
                    input.radio {
                        display: none;
                    }
                    input.radio:checked {
                        & + div.obj {
                            label {
                                cursor: auto;
                                -webkit-transform: translateX(42px);
                            }
                            span.circle {
                                background: cyan;
                            }
                        }
                        & ~ div.content {
                            max-height: 180px;
                            border-color: white;
                            margin-right: 20px;
                            -webkit-transform: translateX(20px);
                            -webkit-transition: max-height 0.4s linear, border-color 0.5s linear,
                                -webkit-transform 0.2s linear;
                            p {
                                max-height: 200px;
                                color: white;
                                -webkit-transition: color 0.3s linear 0.3s;
                            }
                        }
                    }
                    div.obj {
                        label {
                            font-size: 1.3em;
                            position: absolute;
                            z-index: 100;
                            top: 20px;
                            -webkit-transition: -webkit-transform 0.2s linear;
                        }
                        span.date {
                            margin-top: -10px;
                            top: 50%;
                            left: -158px;
                            line-height: 20px;
                            position: absolute;
                        }
                        span.circle {
                            margin-top: -10px;
                            top: 50%;
                            left: -44px;
                            width: 10px;
                            height: 10px;
                            background: rgb(138, 127, 117);
                            border: 5px solid white;
                            border-radius: 50%;
                            display: block;
                            position: absolute;
                        }
                    }

                    div.content {
                        max-height: 20px;
                        padding: 50px 20px 0;
                        border-color: transparent;
                        border-width: 2px;
                        border-style: solid;
                        border-radius: 15px;
                        position: relative;
                        &:before,
                        &:after {
                            content: "";
                            width: 0;
                            height: 0;
                            border: solid transparent;
                            position: absolute;
                            pointer-events: none;
                            right: 100%;
                        }
                        &:before {
                            border-right-color: inherit;
                            border-width: 20px;
                            top: 50%;
                            margin-top: -20px;
                        }
                        &:after {
                            border-right-color: cyan;
                            border-width: 17px;
                            top: 50%;
                            margin-top: -17px;
                        }
                        p {
                            max-height: 0;
                            color: transparent;
                            text-align: justify;
                            word-break: break-word;
                            hyphens: auto;
                            overflow: hidden;
                            margin: 0 0 15px;
                        }
                    }
                }
            }
        }
    }
}
